<ion-header [translucent]="true"></ion-header>
<ion-content [fullscreen]="true">
  <div class="sumContainer">
    <h4 *ngIf="state.title">{{ state.title }}</h4>
    <p>{{state.sumHistory}}</p>
    <h1 class="animate__animated animate__headShake">
      {{ state.sum }}
    </h1>
  </div>
</ion-content>
<ion-footer class="calculatorContainer">
  <ion-grid class="ion-text-center ion-justify-content-center">
    <ion-row class="buttonRow" *ngFor="let buttonsRow of buttonsRows; let i = index;">
      <ion-col *ngFor="let button of buttonsRow"
               class="animate__animated animate__faster button"
               [class.specialButton]="button.special"
               [class.animate__headShake]="button.shake"
               (click)="handleClick($event, button)">
        {{ button.value === "/" ? "&divide;" : button.value === "*" ? "&times;" : button.value }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
